CFP.Common/bin/
CFP.Common/obj/
CFP.Provider/bin/
CFP.Provider/obj/
CFP.Web/bin/
CFP.Web/obj/
CFP.Web/wwwroot/LogFiles/
CFP.Repository/bin/
CFP.Repository/obj/
.vs/CFP/
.vs/
CFP.Web/Properties/PublishProfiles/
CFP.Web/wwwroot/ExtraFiles/Uploads
CFP.Web/wwwroot/ExtraFiles/DealDoc
CFP.Web/wwwroot/ExtraFiles/JobDoc
CFP.Web/wwwroot/ExtraFiles/Temp
