@using CFP.Common.Business_Entities
@using CFP.Common.Utility

@model DashboardViewModel
<style>
    .select2-container--default .select2-selection--multiple {
        border-left: 3px solid red !important;
        position: relative;
    }

    .form-control .select2-selection.select2-selection--multiple {
        display: block;
        width: 100%;
        padding: .5rem .9rem !important;
    }

    /*  .select2-container .select2-search--inline .select2-search__field {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        margin: 0 14.4px;
                    }
                 */
    .select2-container .select2-search--inline .select2-search__field {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        transform: none !important;
        margin: 0 !important;
        width: auto !important;
    }
    /* Make the inline search input vertically centered */
    .select2-container--default .select2-selection--multiple .select2-search__field {
        height: 20px !important; /* Matches Select2 default tag height */
        line-height: 31px !important; /* Centers cursor/placeholder vertically */
        padding: 0 6px !important;
    }

</style>

<div class="modal-header">
    <h4 class="modal-title fw-600" id="myModalLabel"><i class="ri-shake-hands-line font-20"></i> @(Model.DealModel.AgentId > 0 ? "Edit Deal" : "Create New Deal")</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
</div>

<div class="card" style="margin-bottom:0px !important">
    <div class="card-body" style="padding-left:1rem;padding-right:1rem;">
        <form class="form-horizontal form-material mb-0" id="DealMasterForm">


            <input asp-for="DealModel.EncId" type="hidden" class="form-control" id="txtEncId" />
            <input asp-for="DealModel.IsActive" type="hidden" />
            <input asp-for="DealModel.CreatedBy" type="hidden" />
            <input asp-for="DealModel.CreatedOn" type="hidden" />
            <input type="hidden" id="isViewId" value="@Model.IsView.ToString().ToLower()" />


            <div class="row">
                <div class="col-md-12 mt-2">
                    <label asp-for="DealModel.TypeOfCoverages"></label>
                    <select asp-for="DealModel.TypeOfCoverages" class="form-select req-border" id="multipleSelect" multiple data-placeholder="Select">
                        <option value="1">DENTAL</option>
                        <option value="2">VISION</option>
                        <option value="3">MEDICAL</option>
                    </select>
                    <span asp-validation-for="DealModel.TypeOfCoverages" class="text-danger"></span>
                </div>

                <div class="col-md-6 mt-2">
                    <label asp-for="DealModel.FirstName"></label>
                    <input asp-for="DealModel.FirstName" class="form-control req-border" placeholder="First Name" autocomplete="off" />
                    <span asp-validation-for="DealModel.FirstName" class="text-danger"></span>
                </div>

                <div class="col-md-6 mt-2">
                    <label asp-for="DealModel.LastName"></label>
                    <input asp-for="DealModel.LastName" class="form-control req-border" placeholder="Last Name" autocomplete="off" />
                    <span asp-validation-for="DealModel.LastName" class="text-danger"></span>
                </div>

                <div class="col-md-3 mt-2">
                    <label asp-for="DealModel.NoOfApplicants"></label>
                    <input asp-for="DealModel.NoOfApplicants" type="number" class="form-control req-border" placeholder="Number of Applicants" autocomplete="off" />
                    <span asp-validation-for="DealModel.NoOfApplicants" class="text-danger"></span>
                </div>

                <div class="col-md-3 mt-2">
                    <label asp-for="DealModel.Ffm"></label>
                    <input asp-for="DealModel.Ffm" class="form-control req-border" placeholder="FFM" autocomplete="off" />
                    <span asp-validation-for="DealModel.Ffm" class="text-danger"></span>
                </div>

                <div class="col-md-6 mt-2">
                    <label asp-for="DealModel.Career"></label>
                    <select asp-for="DealModel.Career" class="form-select req-border" asp-items="Model.CareerList">
                        <option value="">Select</option>
                    </select>

                    <span asp-validation-for="DealModel.Career" class="text-danger"></span>
                </div>

                <div class="col-md-6 mt-2">
                    <label asp-for="DealModel.TypeOfWork"></label>
                    <select asp-for="DealModel.TypeOfWork" class="form-select req-border">
                        <option value="">Select</option>
                        <option value="1">Full Time</option>
                        <option value="2">Part Time</option>
                    </select>
                    <span asp-validation-for="DealModel.TypeOfWork" class="text-danger"></span>
                </div>

                <div class="col-md-6 mt-2">
                    <label asp-for="DealModel.MonthlyIncome"></label>
                    <input asp-for="DealModel.MonthlyIncome" type="number" class="form-control req-border" autocomplete="off" />
                    <span asp-validation-for="DealModel.MonthlyIncome" class="text-danger"></span>
                </div>

                <div class="col-md-6 mt-2">
                    <label asp-for="DealModel.DocNeeded"></label>
                    <select asp-for="DealModel.DocNeeded" class="form-select req-border">
                        <option value="">Select</option>
                        <option value="1">SS</option>
                        <option value="2">INCOME</option>
                        <option value="3">CITIZENSHIP</option>
                        <option value="4">IMMIGRATION</option>
                        <option value="5">NONE</option>
                    </select>
                    <span asp-validation-for="DealModel.DocNeeded" class="text-danger"></span>
                </div>

                <div class="col-md-6 mt-2">
                    <label asp-for="DealModel.SocialProvided"></label>
                    <select asp-for="DealModel.SocialProvided" class="form-select req-border">
                        <option value="">Select</option>
                        <option value="1">YES</option>
                        <option value="2">NO</option>
                        <option value="3">PARTIAL</option>
                    </select>
                    <span asp-validation-for="DealModel.SocialProvided" class="text-danger"></span>
                </div>

                <div class="col-md-6 mt-2">
                    <label asp-for="DealModel.CustomerLanguage"></label>
                    <select asp-for="DealModel.CustomerLanguage" class="form-select req-border">
                        <option value="">Select</option>
                        <option value="1">ENGLISH</option>
                        <option value="2">SPANISH</option>
                    </select>
                </div>
                <div class="col-md-6 mt-2">
                    <label asp-for="DealModel.CloseDate"></label>
                    <input asp-for="DealModel.CloseDate" type="datatime-local" placeholder="Select date & time" class="form-control req-border date-picker-time" />
                </div>

                @*  <div class="col-md-3 mt-2">
                    <label asp-for="DealModel.CloseDates"></label>
                    <input asp-for="DealModel.CloseDates"
                           type="text"
                           class="form-control req-border"
                           data-provider="flatpickr"
                           data-enable-time="true"
                           data-date-format="Y-m-d H:i"   
                    />
                </div> *@
                @if (Model.RoleId != (int)Enumeration.Role.AgentLead && Model.RoleId != (int)Enumeration.Role.Agent)
                {

                    <div class="col-md-12 mt-2">
                        <label asp-for="DealModel.AgentId"></label>
                        <select asp-for="DealModel.AgentId" class="form-select req-border" asp-items="Model.AgentList">
                            <option value="">Select Agent</option>
                        </select>
                        <span asp-validation-for="DealModel.AgentId" class="text-danger"></span>
                    </div>
                }
                else
                {

                    <input asp-for="DealModel.AgentId" type="hidden" />

                }
                <div class="col-md-12 mt-2">
                    <label asp-for="DealModel.Notes"></label>
                    <textarea asp-for="DealModel.Notes" rows="3" class="form-control req-border" placeholder="Notes"></textarea>
                </div>

                <div class="col-sm-12 mt-2" id="workOrderImagediv">

                    <label asp-for="DealModel.DealDocList">Deal Documents</label>
                    <div class="row">
                        @if (!Model.IsView)
                        {
                            <div class="col-sm-12">

                                <input class="form-control" type="file" id="PictureofProblemId" accept=".jpg, .jpeg, .png, .pdf" multiple="multiple" onchange="CFP.Deal.SaveDocument()" />
                            </div>
                        }

                        <div class="col-sm-12 mt-2" id="PictureofProblemDivId">
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer" style="margin-right: 1%;margin-top: 2%;">
    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal"><i class="ri-close-line"></i> Cancel</button>
    @if (!Model.IsView)
    {
        <button type="button" class="btn btn-success" onclick="CFP.Deal.Save()"><i class="ri-save-line"></i> Submit</button>
    }
</div>
