@{
    ViewData["Title"] = "Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ParentPageName = "<a href='/Dashboard/Index'><i class='ri-home-2-line'></i> Home</a>";
    ViewBag.PageName = "<i class='bx bx-chalkboard'></i>  Training";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="mb-3">Training Materials</h5>
                <div class="accordion custom-accordionwithicon custom-accordion-border accordion-border-box accordion-secondary" id="trainingAccordion">
                    <!-- VIDEO 1 -->
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="header8">
                            <button class="accordion-button" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#body8"
                                    aria-expanded="false"
                                    aria-controls="body8">
                                1. Chase Data Agent Training
                            </button>
                        </h2>
                        <div id="body8" class="accordion-collapse collapse show"
                             aria-labelledby="header8"
                             data-bs-parent="#trainingAccordion">
                            <div class="accordion-body">
                                <video width="100%" height="400" controls style="border:1px solid #ccc; border-radius:6px;">
                                    <source src="~/Training/Chase Data Agent Training.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                    <!-- VIDEO 2 -->
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="header9">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#body9"
                                    aria-expanded="false"
                                    aria-controls="body9">
                                2. Sherpa Walkthrough
                            </button>
                        </h2>
                        <div id="body9" class="accordion-collapse collapse "
                             aria-labelledby="header9"
                             data-bs-parent="#trainingAccordion">
                            <div class="accordion-body">
                                <video width="100%" height="400" controls style="border:1px solid #ccc; border-radius:6px;">
                                    <source src="~/Training/Sherpa Walkthrough.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                    <!-- VIDEO 3 -->
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="header10">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#body10"
                                    aria-expanded="false"
                                    aria-controls="body10">
                                3. CMS Verification
                            </button>
                        </h2>
                        <div id="body10" class="accordion-collapse collapse"
                             aria-labelledby="header10"
                             data-bs-parent="#trainingAccordion">
                            <div class="accordion-body">
                                <video width="100%" height="400" controls style="border:1px solid #ccc; border-radius:6px;">
                                    <source src="~/Training/CMS Verification.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                    <!-- PDF 6 -->
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="header6">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#body6"
                                    aria-expanded="false"
                                    aria-controls="body6">
                                4. OPENING SCRIPT
                            </button>
                        </h2>
                        <div id="body6" class="accordion-collapse collapse"
                             aria-labelledby="header6"
                             data-bs-parent="#trainingAccordion">
                            <div class="accordion-body">
                                <iframe src="~/Training/OPENING SCRIPT.pdf#toolbar=0"
                                        style="width:100%; height:600px; border:1px solid #ccc;"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- PDF 2 -->
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="header2">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#body2"
                                    aria-expanded="false"
                                    aria-controls="body2">
                                5. Endeavor Insurance Group Scripting as on 10/30/2025
                            </button>
                        </h2>
                        <div id="body2" class="accordion-collapse collapse"
                             aria-labelledby="header2"
                             data-bs-parent="#trainingAccordion">
                            <div class="accordion-body">
                                <iframe src="~/Training/Endeavor Insurance Group Scripting 10302025.pdf#toolbar=0"
                                        style="width:100%; height:600px; border:1px solid #ccc;"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- PDF 4 -->
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="header4">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#body4"
                                    aria-expanded="false"
                                    aria-controls="body4">
                                6. GUIÓN
                            </button>
                        </h2>
                        <div id="body4" class="accordion-collapse collapse"
                             aria-labelledby="header4"
                             data-bs-parent="#trainingAccordion">
                            <div class="accordion-body">
                                <iframe src="~/Training/GUIÓN.pdf#toolbar=0"
                                        style="width:100%; height:600px; border:1px solid #ccc;"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- PDF 7 -->
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="header7">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#body7"
                                    aria-expanded="false"
                                    aria-controls="body7">
                                7. Proceder con las preguntas de Verificación
                            </button>
                        </h2>
                        <div id="body7" class="accordion-collapse collapse"
                             aria-labelledby="header7"
                             data-bs-parent="#trainingAccordion">
                            <div class="accordion-body">
                                <iframe src="~/Training/Proceder con las preguntas de verificación.pdf#toolbar=0"
                                        style="width:100%; height:600px; border:1px solid #ccc;"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- PDF 3 -->
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="header3">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#body3"
                                    aria-expanded="false"
                                    aria-controls="body3">
                                8. FPL - Chart 2026
                            </button>
                        </h2>
                        <div id="body3" class="accordion-collapse collapse"
                             aria-labelledby="header3"
                             data-bs-parent="#trainingAccordion">
                            <div class="accordion-body">
                                <iframe src="~/Training/FPL-Chart 2026.pdf#toolbar=0"
                                        style="width:100%; height:600px; border:1px solid #ccc;"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- PDF 5 -->
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="header5">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#body5"
                                    aria-expanded="false"
                                    aria-controls="body5">
                                9. HOURS OF OPERATION
                            </button>
                        </h2>
                        <div id="body5" class="accordion-collapse collapse"
                             aria-labelledby="header5"
                             data-bs-parent="#trainingAccordion">
                            <div class="accordion-body">
                                <iframe src="~/Training/HOURS OF OPERATION.pdf#toolbar=0"
                                        style="width:100%; height:600px; border:1px solid #ccc;"></iframe>
                            </div>
                        </div>
                    </div>
                    <!-- PDF 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="header1">
                            <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#body1"
                                    aria-expanded="true"
                                    aria-controls="body1">
                                10. 2025 OEP Payroll Dates
                            </button>
                        </h2>
                        <div id="body1" class="accordion-collapse collapse"
                             aria-labelledby="header1"
                             data-bs-parent="#trainingAccordion">
                            <div class="accordion-body">
                                <iframe src="~/Training/2025 OEP Payroll Dates.pdf#toolbar=0"
                                        style="width:100%; height:600px; border:1px solid #ccc;"></iframe>
                            </div>
                        </div>
                    </div>

                </div><!-- accordion -->

            </div>
        </div>
    </div>
</div>
