<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>


    <p>Dear [UserName],</p>
    <br />
    <p>
        The following are your appointment details for your In Person sample collection.
    </p>
    <br />
    <b>Unique ID:</b> [UniqueID]<br />
    <b>Location:</b> [LabName] ([LabAddress])<br />
    <b>Test Date:</b> [Date] <br />
    <b>Test Time:</b> [Time] <br />

    <br />
    If you wish to reschedule your appointment, <a href="[ReScheduleLink]">click here</a>.

    <br /><br />
    [FooterMessage]
    <br />

    <br />

    <p>Thank you</p><br />
    <b>[FooterName]</b>

</body>
</html>
