<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Dear [UserName],</p>

    <p>Your kit registration completed successfully. Below are the Kit details which you registered:</p>

    <ul style="list-style-type: none">
        <li><strong>Kit Name:</strong> [KitName]</li>
        <li><strong>Unique Id:</strong> [UniqueId]</li>
        <li><strong>SKU:</strong> [SKU]</li>
        <li><strong>Date Of Registration:</strong> [DateOfRegistration]</li>
    </ul>

    <p>Please collect your sample and complete the process. If you have any questions or need assistance, feel free to contact our support team.</p>


    <p>Best regards,<br>[AppName]</p>
</body>
</html>
