<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Dear [UserName],</p>

    <p>Thank you for your purchase! Your order placed successfully.</p>

    <br />
    <p>Below are the details of your Account</p>
    <br />

    <ul style="list-style-type: none">
        <li><strong>Username:</strong> [Email]</li>
        <li><strong>Order #:</strong> [OrderNumber]</li>
    </ul>
    <br />
    <p>Below are the details of your [NumberOfKits] Registered Test Kit</p>
    [OrderDetails]
    
    <br />
    [URL]
    <br />
    <p>Thank you for choosing [AppName]. We look forward to serving you.</p>

    <p>Best regards,<br>[AppName]</p>
</body>
</html>
