<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Dear [UserName],</p>

    <p>We're excited to let you know that your account with [AppName] has been successfully created. You can now create your password and schedule your Appointment.</p>
    <br />
    <p>Below are the details of your Account and Test Kit</p>

    <ul style="list-style-type: none">
        <li><strong>Username:</strong> [Email]</li>
        <li><strong>Order #:</strong> [OrderNumber]</li>
        <li><strong>Kit Name:</strong> [KitName]</li>
        <li><strong>Unique Id:</strong> [UniqueId]</li>
    </ul>
    <br />
    <p><a href="[URL]">[URL]</a></p>
    <br />
    <p>Click on above link to create your password. If link is not clickable then copy above url and paste in your browser.</p>
    <br />
    <p>Thank you for choosing [AppName]. We look forward to serving you.</p>

    <p>Best regards,<br>[AppName]</p>
</body>
</html>
