<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Dear [UserName],</p>

    <p>Welcome to AlphaDERA Labs! </p>
    <br />
    <p>Thank you for purchasing [KitName] and trusting us to be your lab testing and diagnostics partner. Your journey to health and well-being just got a boost! </p>
    <br /><br />
    <p>Here’s your Unique ID: [UniqueId]. Now, let’s proceed to the next step. </p> <br /><br />
    <p>

        To set up your In Person sample collection at the closest AlphaDERA Labs’ location, simply follow this link:
    </p> <br />
    <a href="[URL]">[URL]</a>
    <br /><br />
    <b>Username:</b> [Email]

    <br /><br />
    [FooterMessage]
    <br />

    <br />

    <p>Thank you</p><br />
    <b>[FooterName]</b>
</body>
</html>
