<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Dear [UserName],</p>

    <p>We're excited to let you know that your account with [AppName] has been successfully created. You can now log in using the following details:</p>

    <ul style="list-style-type: none">
        <li><strong>Username:</strong> [Email]</li>
        <li><strong>Password:</strong> Password is same which you specified</li>
    </ul>

    <p>Please keep your login details secure and do not share them with anyone. If you have any questions or need assistance, feel free to contact our support team.</p>

    <p>Thank you for choosing [AppName]. We look forward to serving you.</p>

    <p>Best regards,<br>[AppName]</p>
</body>
</html>
