
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Dear [UserName],</p>

    <p>Your appointment re-scheduled successfully. Please visit lab on selected date and time to complete your test.</p>

    <p>Below are the details of your old appointment.</p>

    <ul style="list-style-type: none">
        <li><strong>Appointment Date:</strong> [OldDate]</li>
        <li><strong>Appointment Time:</strong> [OldTime]</li>
        <li><strong>Lab Name:</strong> [OldLabName]</li>
        <li><strong>Lab Address:</strong> [OldLabAddress]</li>
    </ul>
    <br />
    <p>Below are the details of your new appointment.</p>

    <ul style="list-style-type: none">
        <li><strong>Appointment Date:</strong> [NewDate]</li>
        <li><strong>Appointment Time:</strong> [NewTime]</li>
        <li><strong>Lab Name:</strong> [NewLabName]</li>
        <li><strong>Lab Address:</strong> [LabAddress]</li>
    </ul>
    <br />
    <p>Best regards,<br>[AppName]</p>
</body>
</html>
