<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>

    <p>Dear [UserName],</p>
    <br />
    <p>
        We are pleased to inform you that your [ShippedSample] "[UniqueID]" has been successfully received at AlphaDERA Labs on [ReceivedDate].
        <br />
        The sample received did not meet our testing requirements and is considered invalid. To ensure accurate results, we would like to arrange for another testing kit to be sent to you promptly.
        <br />
        Our dedicated representative from AlphaDERA Labs will be in touch with you shortly to coordinate the delivery of the new kit and provide any assistance you may need.
    </p>

    <br /><br />
    [FooterMessage]
    <br />
    <br />

    <p>Thank you</p><br />
    <b>[FooterName]</b>
</body>
</html>
