<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Dear [UserName],</p>

    <p>Your [KitName] results are ready and uploaded on the Results Portal. </p>
    <br />
    <p>You can navigate to our portal by using the following link: <a href="[URL]">[URL]</a> </p>
    <p>Please logged into your account to check your test result.</p>
    <br />
    OR
    <br />
    <p>You can download your test result by using following link,<br /> <a href="[URLDocument]">[URLDocument]</a> </p>


    <br /><br />
    [FooterMessage]
    <br />

    <br />

    <p>Thank you</p><br />
    <b>[FooterName]</b>
</body>
</html>
