@model DashboardViewModel


@{
	ViewData["Title"] = "Leader Board";
	Layout = "~/Views/Shared/_Layout.cshtml";
	//ViewBag.ParentPageName = "Leader Board";
	ViewBag.ParentPageName = "<a href='/Dashboard/Index'><i class='ri-home-2-line'></i> Home</a>";
	ViewBag.PageName = "<i class='ri-dashboard-2-line'></i>  Leader Board";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css">
<link rel="stylesheet" href="~/assets/css/leaderboard.css" asp-append-version="true"/>

<div class="card" style="">
	<div class="card-body">
		<div class="list" id="leaderboard"></div>
	</div>
</div>
<script src="~/lib/js/custom/CFP.js" asp-append-version="true"></script>
<script src="~/lib/js/custom/CFP.Leaderboard.js" asp-append-version="true"></script>
@section Scripts {
	<script>
		$(document).ready(function () {
			CFP.Leaderboard.refreshScores();
		});
		const parentElement = document.getElementsByClassName('page-title-box');
		parentElement[0].querySelector('.mb-sm-0').innerHTML="🏆 Live Leaderboard";
		 
	</script>
}


<script>

</script>



