@using CFP.Common.Business_Entities;
@using CFP.Common.Utility;
@model LoginModel
@{
	Layout = "_LoginLayout";
	string loaderImage = "admin-loading.gif";
}
<style>
	.rt-bdr-rds{
		border-top-right-radius: 0.25rem !important;
		border-bottom-right-radius: 0.25rem !important;
	}
</style>

<div class="col-md-8 col-lg-6 col-xl-5">
	<div class="card mt-4">

		<div class="card-body p-4">
			<div class="text-center mt-2">
				<h5 class="text-primary">Welcome Back !</h5>
				<p class="text-muted">Sign in to continue.</p>
			</div>
			<div class="p-2 mt-4">
				<!-- ✅ Error Messages -->
				@if (TempData[AppCommon.ErrorTempKeyName] != null)
				{
					<div class="alert alert-danger">@TempData[AppCommon.ErrorTempKeyName]</div>
				}
				else if (TempData[AppCommon.SuccessTempKeyName] != null)
				{
					<div class="alert alert-success">@TempData[AppCommon.SuccessTempKeyName]</div>
				}
				<form method="post" asp-action="Index" asp-controller="Account" class="needs-validation" onsubmit="return encryptPwd();" id="form">

					<div class="mb-3">
						<label asp-for="UserName" class="fw-semibold"></label>
						<div class="input-group">
							<span class="input-group-text"><i class="ri-user-line"></i></span>
							<input asp-for="UserName" id="txtUsername" class="form-control" autocomplete="off" />
						</div>
						<span asp-validation-for="UserName" class="text-danger"></span>
					</div>

					<div class="mb-3">
						<label asp-for="UserPassword" class="fw-semibold"></label>
						<div class="input-group">
							<span class="input-group-text"><i class="ri-lock-password-line"></i></span>
							<input asp-for="UserPassword" id="txtPassword" type="password" class="form-control pe-5 password-input rt-bdr-rds" autocomplete="off" />
							<button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>

						</div>
						<span asp-validation-for="UserPassword" class="text-danger"></span>
					</div>

					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="auth-remember-check">
						<label class="form-check-label" for="auth-remember-check">Remember me</label>
					</div>

					<div class="mt-4">
						<button class="btn btn-success w-100" type="button" id="submitButton">Sign In</button>
					</div>

				</form>
			</div>
		</div>
		<!-- end card body -->
	</div>
	<!-- end card -->


</div>


@section Scripts {
	@* <script src="~/lib/js/theme/aes.js"></script> *@

	<script>
	
		$("#password-addon").on("click", function () {
				var passwordInput = $('#txtPassword');
				var firstChildOfButton = $(this).children().first();

				if (passwordInput.attr('type') === 'password') {
				  passwordInput.attr('type', 'text');
				  firstChildOfButton.addClass('ri-eye-off-fill').removeClass("ri-eye-fill");
				} else {
				  passwordInput.attr('type', 'password');
				  firstChildOfButton.addClass('ri-eye-fill').removeClass("ri-eye-off-fill");
				}
		});

		$("#submitButton").on("click", function () {
			if ($("#form").valid()) {
				$("#submitButton").attr("disabled", true);
				$("#preloader").show();
				$("#form").submit();
			} else {
				$("#preloader").hide();
				$("#submitButton").removeAttr("disabled");
			}
		});

		function encryptPwd() {
			var user = $("#txtUsername").val().trim();
			var pass = $("#txtPassword").val().trim();
			if (user === "" || pass === "") return false;

			var key = CryptoJS.enc.Utf8.parse('8080808080808080');
			var iv = CryptoJS.enc.Utf8.parse('8080808080808080');
			var encrypted = CryptoJS.AES.encrypt(CryptoJS.enc.Utf8.parse(pass), key, { keySize: 128/8, iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.Pkcs7 });

			$("#txtPassword").val(encrypted);
			return true;
		}
	</script>
}



@* @using CFP.Common.Business_Entities;
@using CFP.Common.Utility;
@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "_GoRevLoginLayout";
}
@{
    string loaderImage = "admin-loading.gif";
}
<div class="login-form login-signin" id="pnlSignIn">

    <form method="post" asp-action="Index" asp-controller="Account" class="needs-validation" onsubmit="return encryptPwd();" id="form">
        <div class="col-12 text-center " style="margin-top:100px">
            <img src="~/lib/images/logo-dark.png" id="clientLogo" class="mb-20" style="object-fit: contain;  width:400px" />
        </div>
        <div class="col-12 text-center">
            @if (TempData[AppCommon.ErrorTempKeyName] != null)
            {
                <div class="v-stack">
                    <div class="alert alert-danger" role="alert">
                        @TempData[AppCommon.ErrorTempKeyName]
                    </div>
                </div>
            }
            else if (TempData[AppCommon.SuccessTempKeyName] != null)
            {
                <div class="v-stack">
                    <div class="alert alert-success" role="alert">
                        @TempData[AppCommon.SuccessTempKeyName]
                    </div>
                </div>
            }
        </div>
        <div class="col-12 text-center">
            <img src="~/lib/images/@(loaderImage)" height="150" id="loadingIMG" style="display:none" />
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="font-size-h6 font-weight-bolder text-dark"></label>
            <input asp-for="UserName" id="txtUsername" type="text" style="border: 1px solid silver;" class="form-control form-control-solid h-auto py-5 px-5 rounded-lg gorev-framework-username" autocomplete="off" />
            <span class="text-danger text-align-left" asp-validation-for="UserName"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserPassword" class="font-size-h6 font-weight-bolder text-dark"></label>
            <input asp-for="UserPassword" type="password" id="txtPassword" style="border: 1px solid silver;" class="form-control form-control-solid h-auto py-5 px-5 rounded-lg gorev-framework-username" autocomplete="off" />
            <span class="text-danger text-align-left" asp-validation-for="UserPassword"></span>
            <br />
        </div>

        <div class="pb-lg-0 pb-5 text-center">
            <button type="button" id="submitButton" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 btn-shadow mr-3 gorev-framework-login-btn mt-ladda-btn ladda-button" style="display: block;">Sign In</button>
        </div>
        <div class="form-group mt-1">
            <div class="row">
                <div class="col-12">
                    <a style="float:left" asp-action="ForgetPassword" asp-controller="Account" class="text-primary font-size-h6 font-weight-bolder text-hover-primary pt-5" id="kt_login_forgot">Forgot Password ?</a>

                </div>
            </div>
        </div>

        <div class="form-group mt-1" style="text-align:justify;color:grey">
            <p>
                <b>Notice to all users:</b><br />
                This system is restricted solely to authorized users and may be monitored for administrative and security reasons. The user expressly consents to such monitoring. Any use of this system must be in compliance with Alphadera Labs policies and applicable laws. Unauthorized users or any unauthorized use may subject the user to criminal and civil penalties under state, federal, or other applicable domestic and foreign laws.

            </p>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/lib/js/theme/aes.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $("#loadingIMG").hide();
        })
        $("#submitButton").on("click", function () {
            if ($("#form").valid()) {
                $("#submitButton").attr("disabled", true);
                $("#loadingIMG").show();
                $("#form").submit();
            } else {
                $("#loadingIMG").hide();
                $("#submitButton").removeAttr("disabled");
            }
        })
    </script>
} *@